@import 'normalize.css';
@import 'variables.css';
@import 'common.css';
@import 'header.css';
@import 'skelton.css';
@import 'task-list.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --body-background-color: var(--color-full-white);
}

[data-theme="dark"] {
    --body-background-color: var(--color-full-black);
}

body {
    background-color: var(--body-background-color);
}

#main {
    margin-top: 140px;
}












